# worktrees
.worktrees

# direnv
.envrc
.direnv

# Testing
/config.*
autopulse.log
data
/target

# Debugging
.vscode/launch.json

# Random testing scripts
*.sh
!docker-entrypoint.sh

# Nix
result

# md files
*.md
!README.md

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
