name: Cleanup Pull Request

on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull Request Number"
        required: true
        type: number

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  docker_hub:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Remove tag
        run: |
          if [ -n "${{ github.event.inputs.pr_number }}" ]; then
            pr_number="${{ github.event.inputs.pr_number }}"
          else
            pr_number="${{ github.event.number }}"
          fi

          features=(postgres sqlite)
          tags=(none amd64 arm64)

          # pr-${pr_number}/pr-${pr_number}-arm64/pr-${pr_number}-amd64/ui-pr-${pr_number}
          docker run --rm lumir/remove-dockerhub-tag --user ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }} \
            danonline/autopulse:pr-${pr_number} \
            danonline/autopulse:pr-${pr_number}-arm64 \
            danonline/autopulse:pr-${pr_number}-amd64 \
            danonline/autopulse:ui-pr-${pr_number} || true

          # pr-${pr_number}-postgres/pr-${pr_number}-postgres-arm64/pr-${pr_number}-postgres-amd64
          # pr-${pr_number}-sqlite/pr-${pr_number}-sqlite-arm64/pr-${pr_number}-sqlite-amd64
          for feature in "${features[@]}"; do
            for tag in "${tags[@]}"; do
              if [ "$tag" == "none" ]; then
                docker run --rm lumir/remove-dockerhub-tag --user ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }} danonline/autopulse:pr-${pr_number}-${feature} || true
              else
                docker run --rm lumir/remove-dockerhub-tag --user ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }} danonline/autopulse:pr-${pr_number}-${feature}-${tag} || true
              fi
            done
          done

  ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Identify tag
        id: tag
        run: |
          if [ -n "${{ github.event.inputs.pr_number }}" ]; then
            pr_number="${{ github.event.inputs.pr_number }}"
          else
            pr_number="${{ github.event.number }}"
          fi

          echo "tag=pr-${pr_number}" >> $GITHUB_OUTPUT
          
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          delete-tags: ${{ steps.tag.outputs.tag }}*
          token: ${{ secrets.GITHUB_TOKEN }}
