name: Docs
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: docs-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: sccache
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout Project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Stable Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Cargo Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-docs-${{ hashFiles('**/Cargo.lock') }}

      - name: Clean docs folder
        run: cargo clean --doc

      - name: Build docs
        run: cargo doc --no-deps --workspace --release

      - name: Add redirect
        run: |
          echo '<meta http-equiv="refresh" content="0;url=/autopulse/index.html">' > target/doc/index.html

      - name: Remove lock file
        run: rm target/doc/.lock

      - name: Publish to Cloudflare Pages
        uses: dan-online/pages-action@main
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: autopulse
          directory: target/doc
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          productionBranch: main
      
      - name: Clean docs folder
        run: cargo clean --doc